In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import plotly.graph_objs as go
%matplotlib inline

from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [3]:
df = pd.read_excel('/Users/rev.dr.sylviablessings/Downloads/Sample stocks acquisition dates_costs.xlsx', sheet_name='Sample')

In [5]:
df.tail()

  Acquisition Date Ticker  Quantity  Unit Cost  Cost Basis Start of Year
3       2015-12-14   MTCH       600      13.63     8178.00    2017-12-29
4       2016-01-14   NFLX        75     108.71     8153.25    2017-12-29
5       2013-08-14    WMT       125      68.30     8537.50    2017-12-29
6       2013-12-13     FB       150      53.32     7998.00    2017-12-29
7       2015-01-05   TWTR       225      36.38     8185.50    2017-12-29

In [6]:
start_SP = datetime.datetime(2022, 8, 1)
end_SP = datetime.datetime(2023, 8, 1)

stockStartDate = datetime.datetime(2022, 8, 1)
stockEndDate = datetime.datetime(2023, 8, 1)

In [13]:
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf


sp500Data = yf.download('^GSPC', start_SP,  end_SP, auto_adjust=True)
sp500Data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume
Date,,,,,
2022-08-01 00:00:00-04:00,4112.379883,4144.950195,4096.020020,4118.629883,4202810000
2022-08-02 00:00:00-04:00,4104.209961,4140.470215,4079.810059,4091.189941,4727710000
2022-08-03 00:00:00-04:00,4107.959961,4167.660156,4107.959961,4155.169922,4351760000
2022-08-04 00:00:00-04:00,4154.850098,4161.290039,4135.419922,4151.939941,4283320000
2022-08-05 00:00:00-04:00,4115.870117,4151.580078,4107.310059,4145.189941,4085940000

## Automate Ticker Pull from Yahoo Finance

In [11]:
tickers = df['Ticker'].unique()
tickers

array(['AAPL', 'JNJ', 'MCD', 'MTCH', 'NFLX', 'WMT', 'FB', 'TWTR'],
      dtype=object)

In [14]:
def get(tickers, startDate, endDate):
    def data(ticker):
        return yf.download(ticker, start=startDate, end=endDate)
    datas = map(data, tickers)
    return pd.concat(datas, keys=tickers, names=['Ticker', 'Date'])

all_data = get(tickers, stockStartDate, stockEndDate)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FB: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TWTR: No timezone found, symbol may be delisted